<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="https://f.v1.n0.cdn.getcloudapp.com/items/1J0Y1N1I441v1E2k3e2W/weather.png">
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <!--<p>Created By-{{name}}</p>-->
        <form>
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>
        <div class="hello">
            <p id="msg1"></p>
            <p id="msg2"></p>
        </div>
</div>
    
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>